.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;

  h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

.links {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  padding: 0;

  a {
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    border: 1px solid #001326;
    background: #001326;
    color: #fff;
    text-decoration: none;
  }
}


.formPage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 75px 1fr;
  gap: 1rem;
  min-height: 100vh;

  nav {
    grid-area: 1 / 1 / 2 / 4;
    background: #000810;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;

    ul {
      display: flex;
      list-style-type: none;
      padding: 0;
      margin: 0;
      gap: 1.5rem;
    }

    .userInfo {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 0 1rem;
      height: 100%;
      background: #001326;
      gap: 1rem;

      .userIcon {
        width: 54px;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        border-radius: 50%;
        background: #001326;
        border: 1px solid #fff;
      }
    }
  }

  .content {
    grid-area: 2 / 1 / 3 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 2rem;
    border-radius: 1rem;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      input {
        padding: 1rem;
        border-radius: 0.5rem;
        border: 1px solid #001326;
        background: #001326;
        color: #fff;
      }

      button {
        padding: 1rem 2rem;
        border-radius: 0.5rem;
        border: 1px solid #001326;
        background: #001326;
        color: #fff;
        cursor: pointer;
      }
    }
  }

  .errorMessage {
    color: red;
  }
}
